page{
	height: 100%;
	font-size: 28upx;
	line-height: 1.8;
	background-color: #F3F3F3;
}
image{
	width: 100%;
}
.main-bgc{
	background-color: rgba(79, 202, 79, 1);
}
.main-bgc-hover{
	/* background-color: ; */
}
.min-col{
	background-color: rgba(79, 202, 79, 1);
}